#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

div {
  box-sizing: border-box;
  margin: 0;
    padding: 0;
    text-align: center;
  }

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.gradient {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(334deg, #ffa726, #1e88e5, #1565c0);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.css-3d-text {
  font-size: 18px;
  color: #ff8307;
  font-family: Arial Black, Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(234, 110, 0),
    1px -1px 0 rgb(213, 89, 0),
    2px -2px 0 rgb(192, 68, 0),
    3px -3px 0 rgb(171, 47, 0),
    4px -4px 3px rgba(0, 0, 0, 0),
    4px -4px 1px rgba(0, 0, 0, 0.5),
    0px 0px 3px rgba(0, 0, 0, .2);
}